### Import bibliotek

In [1]:
import pandas as pd
import numpy as np
import sklearn

sklearn.__version__

'0.22.1'

### Załadowanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

C:\Users\marci\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

                Open      High        Low    Close   Volume
Date
2020-09-25  3054.860  3101.540  2999.0000  3095.13  4615202
2020-09-24  2977.790  3069.300  2965.0000  3019.79  5529392
2020-09-23  3120.430  3126.999  2992.3759  2999.86  5652665
2020-09-22  3033.835  3133.990  3000.2000  3128.99  6948816
2020-09-21  2906.500  2962.000  2871.0000  2960.47  6117925

### Utworzenie kopii danych

In [3]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2020-09-25 to 2020-09-21
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

### Generowanie nowych zmiennych

In [4]:
df['day']= df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

                Open      High        Low    Close   Volume  day  month  year
Date
2020-09-25  3054.860  3101.540  2999.0000  3095.13  4615202   25      9  2020
2020-09-24  2977.790  3069.300  2965.0000  3019.79  5529392   24      9  2020
2020-09-23  3120.430  3126.999  2992.3759  2999.86  5652665   23      9  2020
2020-09-22  3033.835  3133.990  3000.2000  3128.99  6948816   22      9  2020
2020-09-21  2906.500  2962.000  2871.0000  2960.47  6117925   21      9  2020

### Dyskretyzacja zmiennej ciągłęj

In [9]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [12]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [15]:
df['height_cat'] = pd.cut(x=df.height, bins=(160,175,180,195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [16]:
df['height_cat'] = pd.cut(x=df.height, bins=(160,175,180,195), labels=('small','medium','high'))
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [17]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

### Ekstrakcja cech

In [18]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [19]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [20]:
df['PL_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [21]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [22]:
df.website.str.split('.', expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [ ]:
new =