## Pandas introduction

In [2]:
import pandas as pd
pd.__version__

'1.0.3'

In [3]:
s = pd.Series(data = [3, 2, 4, 6])

In [4]:
s

0    3
1    2
2    4
3    6
dtype: int64

In [8]:
s = pd.Series(data = [3, 2, 4, 6], index=['a','b','c','d'], dtype=float, name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [22]:
import numpy as np

In [10]:
np.nan

nan

In [12]:
s1 = pd.Series(data = [3, 2, 4, np.nan], name='Sample_2')
s1

0    3.0
1    2.0
2    4.0
3    NaN
Name: Sample_2, dtype: float64

In [13]:
s2 = pd.Series(data = [True, False, False], name='Sample_3')
s2

0     True
1    False
2    False
Name: Sample_3, dtype: bool

In [14]:
s3 = pd.Series(data=np.arange(10, 20), index=pd.date_range(s))
s3

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32

In [3]:
s= pd.Series(data=['Python','Java','SQL'], name='Languages')
s

0    Python
1      Java
2       SQL
Name: Languages, dtype: object

In [4]:
type(s)

pandas.core.series.Series

In [5]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
list(s.index)

[0, 1, 2]

In [7]:
s.values

array(['Python', 'Java', 'SQL'], dtype=object)

In [8]:
s.dtypes

dtype('O')

In [9]:
s.shape

(3,)

In [23]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan}, name='Stock Prices')
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
Name: Stock Prices, dtype: float64

In [24]:
price['CD Projekt']

60.0

In [25]:
price[1]

60.0

In [26]:
price.count()

3

In [30]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
Name: Stock Prices, dtype: int64

In [28]:
price.sum() # also .min(), .max(), std()

2160.0

In [31]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
Name: Stock Prices, dtype: float64

In [32]:
price.nlargest(n=2)

Amazon    1900.0
Apple      200.0
Name: Stock Prices, dtype: float64

In [33]:
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
Name: Stock Prices, dtype: float64

In [34]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
Name: Stock Prices, dtype: float64

In [35]:
price.sort_values(ascending=True)

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
Name: Stock Prices, dtype: float64

In [37]:
price.apply(lambda x: x * 3.8)

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
Name: Stock Prices, dtype: float64

In [39]:
price # change not saved

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
Name: Stock Prices, dtype: float64

In [41]:
price_pln = price.apply(lambda x: x * 3.8) # change saved
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
Name: Stock Prices, dtype: float64